.login {
    width: 100%; /* Ensures the container takes the full width */
    height: 100vh; /* Full height for mobile screens */
    background-image: linear-gradient(#0000007e, #0000007e), url("/background_banner.jpg");
    background-size: cover; /* Ensures the background image covers the container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repetition of the image */
}

@media (min-width: 768px) {
    .login {
        height: 100vh; /* Full height for larger screens as well */
    }
}

@media (min-width: 1024px) {
    .login {
        background-size: 100% auto; /* Makes the background image larger on computer screens */
    }
}
