@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
    color: white;
}
.nav-profile:hover + .signout,
.signout:hover {
  opacity: 1;
  visibility: visible;
}

.signout {
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
cursor: pointer;
text-decoration: underline;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.signout:hover{
    color: red;
}
.card-container::-webkit-scrollbar{
display: none;
}


